@import "tailwindcss";

:root {
  --background: #EBEBFF;
  --foreground: #000000;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-josefin-sans: "Josefin Sans", ui-sans-serif, system-ui, -apple-system,
                       "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans";

   --font-gabarito: "Gabarito", ui-sans-serif, system-ui, -apple-system,
                       "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans";
}
/* 
@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

/* Apply CSS variables globally so components inherit background/foreground */
html, body {
  /* height: 100%; */
  background-color: var(--background);
  color: var(--foreground);
}

* { box-sizing: border-box; }

/* ant progress */

.ant-progress.ant-progress-circle .ant-progress-text{
  font-size: 20px;
}